<p id="notice"><%= notice %></p>

<div class="pull-right">
  <%= link_to(image_tag(@design.designer.avatar.url(:thumb)), @design.designer) %>
</div>
<div> <h3>  <%= @design.name %> </h3></div>
<div> 所在地：上海 小区:汤臣一品 风格:<%= @design.style %> 户型:<%= @design.household %> 面积：<%= @design.stage %></div>
<div>
  <button type="button" class="btn btn-primary btn-sm">喜欢她</button>
  <button type="button" class="btn btn-primary btn-sm">评论数</button>
  </div>
<div>
  <p>
  <h4>    案例简述</h4>
  </br>项目简介：
  </br>名称：罗兰之歌-- 嘉里现崇山豪宅
  </br>项目地址：
  </br>项目面积：1300尺
  </br>主创设计师：徐静
  </br>软装设计：例外（香港）国际陈设艺术顾问有限公司
  </br>看到法式家居，浪漫情调和贵族精神翩然於脑海中。它独特的雅致得到大众认可，蕴含着法式的端庄优雅，欧式的奢华大气，复古的尊贵古典。
  </p>
</div>

<%= image_tag @design.pic.url %>
</br>

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>

<% @design.comments.each do |comment| %>
  <p>
    <strong>Label:</strong>
    <%= comment.label %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>
<% end %>

<%= form_for([@design, @design.comments.build]) do |f| %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
