<p id="notice"><%= notice %></p>

<h3><%= @topic.title %></h3>
<hr>

<div>
  <p>
  <%= image_tag @topic.designer.avatar.url(:thumbnail) %>
  <%= @topic.designer.name %>
  <%= @topic.updated_at %>
  </p>
  <p>
  <%= @topic.content %>

  <%= link_to 'Edit',  edit_topic_path(@topic) %> |
  <%= link_to 'Back',  topics_path %> |
  <%= link_to 'reply', new_topic_reply_path(@topic) %>
  </p>
</div>


    <% @topic.replies.each do |reply| %>
    <hr>
    <div>
      <p><%= image_tag reply.designer.avatar.url(:thumbnail)  %>
          <%= reply.designer.name %>

          <i class="fa fa-pencil"></i>
          <%= reply.updated_at %><i class="fa fa-heart"></i><i class="fa fa-mail-reply"></i>
      </p>
      <p><%= reply.content %></p>
    </div>
    <% end %>
