

<div class="bg-success">
  <%= image_tag @designer.avatar.url(:medium) %>
  <ul>
    <li>姓名: <%= @designer.name %></li>
    <li>擅长户型：<%= @designer.prefer_household %></li>
    <li>风格：<%= @designer.prefer_style %></li>
    <li>城市：<%= @designer.location %></li>
    <li>签名：热爱设计，享受生活</li>
    <li>注册日期: <%= @designer.created_at %>
      <!-- Button trigger modal -->
      <%= link_to 'Edit', edit_designer_path(@designer) %>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-cloud-upload"></i>上传作品
      </button>
    </li>
  </ul>
</div>

<p id="notice"><%= notice %></p>
<a href="#">我的设计 快速导航select</a>
<div class="row">
  <div class="col-md-5 col-lg-5">
    <!-- artigo em destaque -->
    <div class="featured-article">
      <a href="#">
        <!-- <img src="http://placehold.it/482x350" alt="" class="thumb"> -->
        <%= image_tag("base_plan.jpg", :class =>"thumb") %>
      </a>
      <div class="block-title">
        <h2>上海－静安新城－一期－22号楼</h2>
        <p class="by-author"><small>By Jhon Doe</small></p>
      </div>
    </div>
    <!-- /.featured-article -->
  </div>
  <div class="col-md-7 col-lg-7">
    <ul class="media-list main-list">
      <li class="media">
        <div class="row">
          <div class="col-md-3 col-lg-3">
            <a class="" href="#">
              <img class="media-object" src="http://placehold.it/150x90" alt="...">
            </a>
          </div>
          <div class="col-md-3 col-lg-3">
            <a class="" href="#">
              <img class="media-object" src="http://placehold.it/150x90" alt="...">
            </a>
          </div>
          <div class="col-md-3 col-lg-3">
            <a class="" href="#">
              <img class="media-object" src="http://placehold.it/150x90" alt="...">
            </a>
          </div>
          <div class="col-md-3 col-lg-3">
            <a class="" href="#">
              <img class="media-object" src="http://placehold.it/150x90" alt="...">
            </a>
          </div>
        </div>
      </li>
      <li class="media">
        <div class="row">
          <div class="col-md-3 col-lg-3">
            <a class="" href="#">
              <img class="media-object" src="http://placehold.it/150x90" alt="...">
            </a>
          </div>
          <div class="col-md-3 col-lg-3">
            <a class="" href="#">
              <img class="media-object" src="http://placehold.it/150x90" alt="...">
            </a>
          </div>
          <div class="col-md-3 col-lg-3">
            <a class="" href="#">
              <img class="media-object" src="http://placehold.it/150x90" alt="...">
            </a>
          </div>
        </div>
      </li>
      <li class="media">
        <div class="row">
          <div class="col-md-3 col-lg-3">
            <a class="" href="#">
              <img class="media-object" src="http://placehold.it/150x90" alt="...">
            </a>
          </div>
          <div class="col-md-3 col-lg-3">
            <a class="" href="#">
              <img class="media-object" src="http://placehold.it/150x90" alt="...">
            </a>
          </div>
          <div class="col-md-3 col-lg-3">
            <a class="" href="#">
              <img class="media-object" src="http://placehold.it/150x90" alt="...">
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


<%= 3.times do %>
<div class="row">
  <div class="col-md-5 col-lg-5">
    <!-- artigo em destaque -->
    <div class="featured-article">
      <a href="#">
        <!-- <img src="http://placehold.it/482x350" alt="" class="thumb"> -->
        <%= image_tag("base_plan.jpg", :class =>"thumb") %>
      </a>
      <div class="block-title">
        <h2>上海－静安新城－一期－22号楼</h2>
        <p class="by-author"><small>By Jhon Doe</small></p>
      </div>
    </div>
    <!-- /.featured-article -->
  </div>
  <div class="col-md-7 col-lg-7">
    <ul class="media-list main-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/150x90" alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
          <p class="by-author">By Jhon Doe</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/150x90" alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
          <p class="by-author">By Jhon Doe</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/150x90" alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
          <p class="by-author">By Jhon Doe</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<% end %>

<% @designer.designs.each do |design| %>
<hr>
<div class="row">
  <% showphoto = design.photos.take %>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to  design do %>
      <% if design.pic != nil %>
      <%= image_tag(design.pic.url) %>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to  design do %>
        <% if showphoto != nil %>
          <%= image_tag(showphoto.image.url) %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
<% end %>

<a href="#">我的话题</a>
<hr>
<% @designer.topics.each do |topic| %>
<div class="">
  <p> <%= image_tag topic.designer.avatar.url(:thumbnail) %>

    <%= topic.designer.name %>
    <i class="fa fa-pencil"></i><%= topic.updated_at %>
  </p>
  <p>
    <%= link_to topic.title, topic %> <span class="badge"><%= topic.replies.count %></span>
  </p>

</div>
<% end %>

</div>



<!-- upload design Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">上传作品</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/design_form', designer: @designer %>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      -->
    </div>
  </div>
</div>
