<div class="row">
  <div class="col-xs-6 col-md-9">

    <div class="bg-success">
      <%= image_tag @designer.avatar.url(:medium) %>
      <ul>
        <li>姓名: <%= @designer.name %></li>
        <li>擅长户型：<%= @designer.prefer_household %></li>
        <li>风格：<%= @designer.prefer_style %></li>
        <li>城市：<%= @designer.location %></li>
        <li>签名：热爱设计，享受生活</li>
        <li>注册日期: <%= @designer.created_at %>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-cloud-upload"></i>上传作品
          </button>
        </li>
      </ul>
    </div>

    <p id="notice"><%= notice %></p>

    <a href="#">我的话题</a>
    <hr>
    <% @designer.topics.each do |topic| %>
    <div class="">
      <p> <%= image_tag topic.designer.avatar.url(:thumbnail) %>

        <%= topic.designer.name %>
        <i class="fa fa-pencil"></i><%= topic.updated_at %>
      </p>
      <p>
        <%= link_to topic.title, topic %> <span class="badge"><%= topic.replies.count %></span>
      </p>

    </div>
    <% end %>

  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#">我的设计</a>
    <% i=0 %>
    <% @designer.designs.each do |design| %>
    <% if i % 3 == 0 %> <div class="row"> <% end %>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to  design do %>
          <%= image_tag("design_demo.png", :alt => "show", :class => "show") %>
          <% end %>
        </div>
      </div>

      <% if ((i % 3 == 2) ) %>  </div> <% end %>
      <% i += 1 %>
      <% end %>
    </div>

  <% if @designer.designs.count % 3 != 0 %> </div> <% end %>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">上传作品</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/design_form', designer: @designer %>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      -->
    </div>
  </div>
</div>
