<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div id="login-widget" class="panel" >
      <%= form_tag controller: "sessions", action: "create", method: "get", class: "form-horizontal" do %>
      <div class="panel-heading text-center">
        <h3><strong>Sign In</strong></h3>
        <p class="text-right">No account yet?<i class="fa fa-graduation-cap"></i><%= link_to("Sign up",new_designer_path) %> </p>
      </div>
      <div class="panel-body">
        <label for="login-email">User name</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <!-- <input id="login-email" type="text" class="form-control input-lg" name="email" value="" placeholder="email"> -->
          <%= text_field_tag :name, params[:name], :class => "form-control input-lg", :placeholder=>"name"%>
        </div>
        <label for="login-email">Password</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <!-- <input id="login-password" type="password" class="form-control input-lg" name="password" placeholder="password"> -->
          <%= password_field_tag :password, params[:password], :class=>"form-control input-lg", :placeholder=>"password" %>
        </div>
      </div>
      <div class="panel-footer text-center">
        <div class="login-btn">
          <!-- <a href="#" class="btn btn-ui btn-lg btn-block mrg-btm-10"><i class="fa fa-play-circle"></i> Sign In</a> -->
          <%= submit_tag "Login", :class=>"btn btn-ui btn-lg btn-block mrg-btm-10" %>
          <a href="#"><small>Forgot Username or Password?</small></a>
        </div>
        <a href="#" class="facebook"><i class="fa fa-lg fa-facebook-square"></i> Login with WeChat or QQ</a>
      </div>
      <% end %>
    </div>
  </div>
</div>
