<div class="modal-dialog">
  <div id="login-widget" class="panel" >

    <%= form_for(@designer, :html => { :multipart => true }) do |f| %>
    <% if @designer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@designer.errors.count, "error") %> prohibited this designer from being saved:</h2>

      <ul>
        <% @designer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="panel-heading text-center">
      <h5 class="text-uppercase"><strong>新建设计师账号</strong></h5>
    </div>
    <div class="panel-body">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :password, 'Password' %>:
        <%= f.password_field :password, size: 40 %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'Confirm' %>:
        <%= f.password_field :password_confirmation, size: 40 %>
      </div>

      <div class="field">
        <%= f.label :sex %><br>
        <%= f.text_field :sex %>
      </div>
      <div class="field">
        <%= f.label :prefer_style %><br>
        <%= f.text_field :prefer_style %>
      </div>
      <div class="field">
        <%= f.label :prefer_household %><br>
        <%= f.text_field :prefer_household %>
      </div>
      <div class="field">
        <%= f.label :photo %><br>
        <%= f.text_field :photo %>
      </div>
      <div class="field">
        <%= f.label :location %><br>
        <%= f.text_field :location, :placeholder=>"所在城市"%>
      </div>
      <div class="field">
        <%= f.label "选择头像" %>
        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="panel-footer text-center">
      <div class="login-btn">
        <%= f.submit :class=>"btn btn-ui btn-lg btn-block mrg-btm-10"%>
      </div>
    </div>
    <% end %>

  </div>
</div>
