<ul class="list-group">

<% @designers.each do |designer| %>
<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <div class="thumbnail">
        <%= link_to  designer do %>
          <%= image_tag designer.avatar.url(:medium) %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <h4><%= link_to(designer.name,designer_path(designer)) %> 已认证</h4>
        <p>擅长空间-<%= designer.prefer_household %></p>
        <p>擅长风格-<%= designer.prefer_style %></p>
        <p><i class="fa fa-eye"></i> 172
           <i class="fa fa-comment"></i> 34
           <i class="fa fa-heart"></i> 210
        </p>
    </div>

    <% designer.designs.take(3).each do |design| %>
      <%  url = "design_demo.png"
        if design.photos.count > 0
          url = design.photos.first.image.url
        end
      %>
      <div class="col-xs-6 col-md-2">
        <div class="thumbnail">
          <%= link_to  design do %>
          <%= image_tag(url) %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</li>
<% end %>
</ul>
