<div id="profile-widget" class="panel">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle"  src=<%= @designer.avatar.url %>>
      </a>
      <div class="media-body">
        <h2 class="media-heading"><%= @designer.name %></h2>
        <span>设计宣言：Beautiful is a life style, I will look it for ever!
        </span>

        </br>
        <span>
          所在地：<%= @designer.location %>
          擅长户型：<%= @designer.prefer_household %>
          擅长风格：<%= @designer.prefer_style %>
          <%= link_to 'edit', edit_designer_path(@designer), :class =>"btn btn-xs" %>
        </span>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="btn-group btn-group-justified">
      <a class="btn btn-default" role="button"><i class="fa fa-eye"></i> 172</a>
      <a class="btn btn-default" role="button"><i class="fa fa-comment"></i> 34</a>
      <a class="btn btn-default highlight" role="button"><i class="fa fa-heart"></i> 210</a>
    </div>
  </div>
</div>


<!-- Button trigger modal

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
<i class="fa fa-cloud-upload"></i>上传作品
</button>
-->
<a href="#">近期案例</a>

<% i=0 %>
<% @designer.designs.each do |design| %>
<% if i % 3 == 0 %> <div class="row"> <% end %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to  design do %>
      <%= image_tag design.pic.url %>
      <% end %>

      <div class="caption">
        <h3><%= design.name %></h3>
        <p>上海嘉定-<%= design.household %></p>
        <p><a href="#"><%= @designer.name %></a></p>
      </div>
    </div>
  </div>

  <% if ((i % 3 == 2) ) %>  </div> </br><% end %>
  <% i += 1 %>
<% end %>


<p id="notice"><%= notice %></p>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">上传作品</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/design_form', designer: @designer %>
      </div>
      <!--
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  -->
</div>
</div>
</div>
