<div class="jumbotron">

  <%= image_tag @designer.avatar.url(:medium) %>
  <p>
    <strong>Name:</strong>
    <%= @designer.name %>

    <strong>Sex:</strong>
    <%= @designer.sex %>


    <strong>Location:</strong>
    <%= @designer.location %>

  </p>

  <p>
    <strong>Prefer style:</strong>
    <%= @designer.prefer_style %>

    <strong>Prefer household:</strong>
    <%= @designer.prefer_household %>

    <%= link_to 'Edit', edit_designer_path(@designer) %>
  </p>

</div>


<a href="#">近期案例</a>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/assets/design_demo.png" alt="img1">
      <div class="caption">
        <h3>子昂雅苑二期</h3>
        <p>上海嘉定-两房一厅</p>
        <p><a href="#">孙立平</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/assets/design_demo.png" alt="img1">
      <div class="caption">
        <h3>子昂雅苑二期</h3>
        <p>上海嘉定-两房一厅</p>
        <p><a href="#">孙立平</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/assets/design_demo.png" alt="img1">
      <div class="caption">
        <h3>子昂雅苑二期</h3>
        <p>上海嘉定-两房一厅</p>
        <p><a href="#">孙立平</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/assets/design_demo.png" alt="img1">
      <div class="caption">
        <h3>子昂雅苑二期</h3>
        <p>上海嘉定-两房一厅</p>
        <p><a href="#">孙立平</a></p>
      </div>
    </div>
  </div>

</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @designer.name %>

  <strong>Sex:</strong>
  <%= @designer.sex %>
</p>

<p>
  <strong>Prefer style:</strong>
  <%= @designer.prefer_style %>
</p>

<p>
  <strong>Prefer household:</strong>
  <%= @designer.prefer_household %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @designer.photo %>
</p>

<p>
  <strong>Location:</strong>
  <%= @designer.location %>
</p>

<%= link_to 'Edit', edit_designer_path(@designer) %> |
<%= link_to 'Back', designers_path %>

<%= form_for([@designer, @designer.designs.build], :html => { :multipart => true }) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :stage %><br>
    <%= f.text_field :stage %>
  </div>
  <div class="field">
    <%= f.label :style %><br>
    <%= f.text_field :style %>
  </div>
  <div class="field">
    <%= f.label :household %><br>
    <%= f.text_field :household %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.file_field :pic %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
