<div class="jumbotron">

  <%= image_tag @designer.avatar.url(:medium) %>
  <p>
    <strong>Name:</strong>
    <%= @designer.name %>

    <strong>Sex:</strong>
    <%= @designer.sex %>


    <strong>Location:</strong>
    <%= @designer.location %>

  </p>

  <p>
    <strong>Prefer style:</strong>
    <%= @designer.prefer_style %>

    <strong>Prefer household:</strong>
    <%= @designer.prefer_household %>

    <%= link_to 'Edit', edit_designer_path(@designer) %>
    <%= link_to 'New Design', new_design_path([@designer, @designer.designs.build]) %>
  </p>

</div>

<a href="#">近期案例</a>

<% i=0 %>
<% @designer.designs.each do |design| %>
<% if i % 4 == 0 %> <div class="row"> <% end %>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to  design do %>
      <%= image_tag("design_demo.png", :alt => "show", :class => "show") %>
      <% end %>

      <div class="caption">
        <h3><%= design.name %></h3>
        <p>上海嘉定-<%= design.household %></p>
        <p><a href="#"><%= @designer.name %></a></p>
      </div>
    </div>
  </div>

  <% if ((i % 4 == 3) ) %>  </div> <% end %>
  <% i += 1 %>
<% end %>


<p id="notice"><%= notice %></p>

<!--
<p>
  <strong>Name:</strong>
  <%= @designer.name %>

  <strong>Sex:</strong>
  <%= @designer.sex %>
</p>

<p>
  <strong>Prefer style:</strong>
  <%= @designer.prefer_style %>
</p>

<p>
  <strong>Prefer household:</strong>
  <%= @designer.prefer_household %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @designer.photo %>
</p>

<p>
  <strong>Location:</strong>
  <%= @designer.location %>
</p>

<%= link_to 'Edit', edit_designer_path(@designer) %> |
<%= link_to 'Back', designers_path %>



<%= form_for([@designer, @designer.designs.build], :html => { :multipart => true }) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :stage %><br>
    <%= f.text_field :stage %>
  </div>
  <div class="field">
    <%= f.label :style %><br>
    <%= f.text_field :style %>
  </div>
  <div class="field">
    <%= f.label :household %><br>
    <%= f.text_field :household %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.file_field :pic %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->
