<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Graph2d:</strong>
  <%= @request.graph2d %>
</p>

<p>
  <strong>Response:</strong>
  <%= @request.response %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
