<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@photo.image.url)%></br>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Delete', photo_path(@photo), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', photos_path %>
