<%- model_class = Product -%>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="nav-widget" class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" class="btn text-uppercase"><i class="fa fa-map-marker fa-2x"></i> 饰品摆件</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn text-uppercase"><i class="fa fa-bell fa-2x"></i>  花艺园艺</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn text-uppercase"><i class="fa fa-user fa-2x"></i>  装饰画</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn text-uppercase"><i class="fa fa-cog fa-2x"></i>  毯子</button>
        </div>

        <div class="btn-group">
          <button type="button" class="btn text-uppercase"><i class="fa fa-user fa-2x"></i>  布艺</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn text-uppercase"><i class="fa fa-cog fa-2x"></i>  灯具</button>
        </div>
      </div>
    </div>
  </div>
</div>

<% 4.times do %>
  <div class="row">
    <% 4.times do %>
    <div class="col-xs-6 col-md-3">
      <%= link_to(image_tag("design_demo.png"), :class=>"thumbnail") %>
    </div>
    <% end %>
  </div>
</br> 
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:catalog) %></th>
      <th><%= model_class.human_attribute_name(:tag1) %></th>
      <th><%= model_class.human_attribute_name(:tag2) %></th>
      <th><%= model_class.human_attribute_name(:tag3) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product_path(product) %></td>
        <td><%= product.name %></td>
        <td><%= product.catalog %></td>
        <td><%= product.tag1 %></td>
        <td><%= product.tag2 %></td>
        <td><%= product.tag3 %></td>
        <td><%=l product.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
